footer{
    background-color: black;
    min-width: 100%;
    height: 200px;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    border-radius: 5px;
}

.kasa-logo-s{
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding-top: 25px;
}

footer p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

/* MEDIA QUERIES */

/* Small screens: screens up to 767px wide */
@media screen and (max-width: 767px) {
    /* CSS rules for small screens */
    footer p{
        font-size: 12px;
    }
}
  
  /* Medium screens: screens between 768px and 991px wide */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for medium screens */
    footer p{
        font-size: 12px;
    }
  }