/* NAVBAR */
navbar{
    width: 100%;
    margin-bottom: 25px;
  }
  .navbar-links{
    display: flex;
    justify-content: space-between;
  }
  .links{
    display: flex;
    align-items: center;

  }
  .links a{
    text-decoration: none;
    color: #FF6060;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }
  .links a:hover{
    text-decoration: underline;
  }

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 24px; */
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-logo {
    /* max-height: 40vmin; */
    pointer-events: none;
    max-width: 200px;
    padding-top: 25px;
  }

  /* MEDIA QUERIES */

/* Small screens: screens between 320px and 767px wide */
@media screen and (max-width: 767px) {
  .navbar-links {
    display: flex;
  }
  .navbar-links.show {
    display: block;
  }
  .navbar-links.show .links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  .navbar-links .links a {
    padding: 12px;
  }
  .navbar-links img{
    width: 75%;
    padding-left: 15px;
  }
}

/* Medium screens: screens between 768px and 991px wide */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
  }
}

/* Large screens: screens between 992px and 1199px wide */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
  }
}

/* Extra-large screens: screens 1200px and wider */
/* @media screen and (min-width: 1200px) {
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links a {
    margin-right: 20px;
  }
} */