.slogan{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../header_img.svg');
    background-size: cover;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px!important;
  }
  .slogan p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 500;
  }
  
/* MEDIA QUERIES */

/* Small screens: screens between 320px and 767px wide */
@media screen and (max-width: 767px) {
  .slogan {
    height: 25%;
    justify-content: flex-start;
  }
  .slogan p{
    font-size: calc(15px + 2vmin);
    max-width: 50%;
    padding-left: 25px;
  }
}

/* Medium screens: screens between 768px and 991px wide */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
  }
  .slogan p{
    font-size: calc(20px + 2vmin);
  }
}

/* Large screens: screens between 992px and 1199px wide */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25%;
  }
  .slogan p{
    font-size: calc(20px + 2vmin);
  }
}

/* Extra-large screens: screens 1200px and wider */
@media screen and (min-width: 1200px) {
  .slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25%;
  }
}